<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Create Account</mat-card-title>
    </mat-card-header>
    <form class="login-form">
        <mat-form-field class="login-form-field">
            <mat-label>Username</mat-label>
            <input name="username" matInput [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="login-form-field">
            <mat-label>Password</mat-label>
            <input matInput name="password" type="password" [(ngModel)]="password">
        </mat-form-field>
    </form>
    <button mat-raised-button class="login-button" (click)="submit()">Create Account</button>
    <mat-card-content class="login-card-content">
        <a [routerLink]="['']">Cancel</a>
    </mat-card-content>
</mat-card>