<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Log In</mat-card-title>
    </mat-card-header>
    
    <form #form="ngForm" class="login-form" (ngSubmit)="onCreate(form.value)">

        <mat-form-field class="login-form-field">
            <mat-label>Username</mat-label>
            <input data-cy="un" name="username" matInput [(ngModel)]="username">
        </mat-form-field>

        <mat-form-field class="login-form-field">
            <mat-label>Password</mat-label>
            <input data-cy="pw" matInput name="password" type="password" [(ngModel)]="password">
        </mat-form-field>

        <input type="submit" value="Login">

    </form>

    <!--<button data-cy="button" mat-raised-button class="login-button">Log In</button> <!-->
    <mat-card-content class="login-card-content">
        <a [routerLink]="['/account-create']">Create Account</a>
    </mat-card-content>
</mat-card>

